---
layout: layout.njk
---

{% block title %}About{% endblock %}

{% block content %}
<div class="container">
    <h1>About Us</h1>
    <p>Project Team: Aileen Medina, Daniel Rentz, Kevin Zopfi</p>
    <h3>Contributions:</h3>
    <ul>
        <li>Aileen Medina: </li>
        <li>Daniel Rentz: </li>
        <li>Kevin Zopfi: </li>
    </ul>
    <h3>Project Repository:</h3>
    <p>You can find the source code and contribute to the project on our <a href="https://github.com/drent-z/cipherlab" target="_blank">GitHub page</a>.</p>
</div>
{% endblock %}
