---
layout: layout.njk
title: CipherLab
---
<section class="hero" id="home">
    <div class="typing-container">
        <h1 class="glitch" data-text="Welcome to CipherLab">Welcome to CipherLab</h1>
    </div>
    <p>Your go-to platform for cryptography education and awareness.</p>
    <!-- Update the button link as desired -->
    <a href="/about/" class="cta-button">Get Started</a>
</section>

<section class="features">
    <div class="feature-box">
        <h2>Cryptographic Basics</h2>
        <p>Learn about fundamental encryption techniques such as the Caesar cipher and Vigenère cipher.</p>
    </div>
    <div class="feature-box">
        <h2>Modern Encryption</h2>
        <p>Explore contemporary encryption algorithms like AES and RSA and understand their real-world applications.</p>
    </div>
    <div class="feature-box">
        <h2>Breaking Ciphers</h2>
        <p>Try hands-on challenges to analyze and break different ciphers, enhancing your cryptanalysis skills.</p>
    </div>
</section>
